@page
@model OnlineShop.Pages.Categories.IndexModel
@{
    ViewData["Title"] = "Category List";
}

<h2>Category List</h2>

<div class="mb-3">
    <a asp-page="/Categories/AddEditCategory" class="btn btn-success">
        <span class="bi bi-plus"></span> Add Category
    </a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Number</th>
            <th>Actions</th> <!-- Add a column for actions (Edit button) -->
        </tr>
    </thead>
    <tbody>
        @foreach (var category in Model.Categories)
        {
            <tr>
                <td>
                    <a asp-page="/Products/SearchResult" asp-route-categoryId="@category.CategoryId">
                        @category.Name
                    </a>
                </td>
                <td>@category.Products.Count</td>
                <td>
                    @if (category.CategoryId != 8)
                    {
                        <a asp-page="/Categories/AddEditCategory" asp-route-categoryId="@category.CategoryId" class="btn btn-warning">
                            Edit
                        </a>
                    }
                    else
                    {
                        <button class="btn btn-warning" disabled> Edit </button> <!-- Disabled Edit button for CategoryId 8 -->
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
